<div class="container-fluid">
    <h6 class="d-block d-md-none mb-3">
        <a routerLink="/"><i class="fas fa-chevron-left mr-1"></i>Back to My Speeches</a>
    </h6>
    <div class="row">
        <div class="col-4 d-none d-md-block">
            <app-speech-list></app-speech-list>
        </div>
        <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active">
                    <app-speech-detail (edit)="view = false;" *ngIf="view"></app-speech-detail>
                    <app-speech-editor (saved)="view = true;" *ngIf="!view"></app-speech-editor>
                </div>
            </div>
        </div>
    </div>
</div>