.search-container {
  max-width: 600px;
  margin: auto;
  label {
    font-size: 18px;
  }
}

.content-container {
  max-width: 100%;
  height: 250px;
  overflow: auto;
}

.card-title {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}